# Dependencies
node_modules/

# Package lock file
package-lock.json

# Environment configuration files
.env
.env.development
.env.production

# Logs
logs/
*.log

# Optional MacOS system files
.DS_Store

# Build directories
dist/
build/

# Temporary files
tmp/

# Serverless directories
.serverless/

# IDE and editor folders
# .vscode/

